.step {
    background: transparent;
    opacity: 0;
    -webkit-transition: width 2s; /* Safari */
    transition: opacity 2s, margin-left 1s;
}

.step-active {
    opacity: 1;
    margin-left: 100px;
}

p {

    color: white;
}